@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/bgicons.svg");
  background-repeat: repeat;
}

.accent-text {
  color: #E5AE41
}
.shadow-text {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}